<div>
    <h2 class="mt-2">Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="username" class="form-control mt-1" id="username" placeholder="Enter username" name="username" required>
        <label for="password">Password</label>
        <input type="password" class="form-control mt-1" id="password" placeholder="Enter password" name="password" required>
        <label for="repeat_password">Repeat password</label>
        <input type="password" class="form-control mt-1" id="repeat_password" placeholder="Repeat password" name="repeat_password" required>
        <button type="submit" class="btn">Register</button>
    </form>
</div>